.pagrn{
 display: flex;
    justify-content: space-around;
}

h3,p{
    text-align: center;
}
.skelbimas{
    margin: 10px;
    padding: 10px;
    border: 5px solid dodgerblue;
    background-color: rgb(199, 223, 247);
}

.forma{
    display: flex;
    justify-content: space-around;
}
.forma2 input, .forma2 textarea, .forma2 select{
    display: block;
    padding: 10px;
    margin: 30px;

}

#textarea{
resize: none;
}

