body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #4b0f31;
	background-color: #f1e5e6;
	
}

#red {
    background-color: rgba(252, 106, 106, 0.938);
    width: 5%;
    height: 5%;
    padding: 5px;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}



 .forma2{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 5px;
     border-radius: 10px;
     border-style: solid;
     border-color:rgba(241, 241, 123, 0.884) rgb(129, 238, 129)  rgb(235, 99, 99) ;
    resize: none;
}

.forma{
    border: 5px;
     border-radius: 10px;
     border-style: solid;
     border-color:rgba(241, 241, 123, 0.884) rgb(129, 238, 129)  rgb(235, 99, 99) ;
    resize: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.white {
    background-color: white;
    margin: 20px;
    width: 250px;
    height: 30px;
    border-radius: 10px; 
}
.white2{
  
    background-color: white;
    margin-left: 70px;
    padding-left: 20px;
    width: 250px;
    height: 30px;
    border-radius: 10px; 
} 

#input2 {
    background-color: #4aaf60;
    margin: 70px;
    width: 250px;
    height: 30px;
    border-radius: 10px; 
}

input {
    background-color: #c77796;
    margin: 20px;
    width: 250px;
    height: 30px;
    border-radius: 10px; 
}
/* hidden input filet */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
}






.inputfile + label {
    max-width: 60%;
   
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}


.inputfile + label svg {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -1.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}

